@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    background-color: #141414;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    @apply fixed top-0 z-50 px-4 py-2 transition-all
  }
}

@layer components {
  .header-link {
    @apply text-xl font-light mr-4 cursor-pointer text-white transition duration-[.4s];
  }

  .listItem {
    @apply cursor-pointer
  }
}

.card-here {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.card-here:hover .card-hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: translateY(-20px);

}

.card-here:hover {
  transform: scale(1.5);
  z-index: 10;
  transition: all 0.3s ease-in-out;
}


.hero_banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url('https://assets.nflxext.com/ffe/siteui/vlv3/70805ddd-f38c-4e25-94cd-b5015e444ee0/dfb88503-6755-43aa-bdc0-1b119e2b5a20/PK-en-20230508-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  ;
}




.landing label:after {
  content: '+';
  position: absolute;
  top: .4em;
  right: 0.5em;
  color: #fff;
  font-size: 1.7em;

}

input:checked+label:after {
  content: '-';
  line-height: .8em;
}

.accordion__content {
  max-height: 0em;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);

}

input[name='panel']:checked~.accordion__content {
  /* Get this as close to what height you expect */
  max-height: 50em;
}