@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    background-color: #141414;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    @apply fixed top-0 z-50 px-4 py-2 transition-all
  }
}

@layer components {
  .header-link {
    @apply text-lg font-light mr-4 cursor-pointer text-[#e5e5e5] transition duration-[.4s];
  }
}


.hero_banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url('https://assets.nflxext.com/ffe/siteui/vlv3/70805ddd-f38c-4e25-94cd-b5015e444ee0/dfb88503-6755-43aa-bdc0-1b119e2b5a20/PK-en-20230508-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  ;
}

.landing label:after {
  content: '+';
  position: absolute;
  top: .4em;
  right: 1em;
  color: #fff;
  font-size: 1.7em;

}

input:checked+label:after {
  content: '-';
  line-height: .8em;
}

.accordion__content {
  max-height: 0em;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);

}

input[name='panel']:checked~.accordion__content {
  /* Get this as close to what height you expect */
  max-height: 50em;
}